<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Update Project</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link th:href="@{/assets/bootstrap-datepicker/css/bootstrap-datepicker.css}" th:rel="stylesheet"/>
    <link th:href="@{/assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" th:rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " th:rel="stylesheet"/>
</head>
<body>
<div class="container my-5">
    <h4>Update Project</h4>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" method="post" th:action="@{/project/update}" th:object="${project}">
                    <input th:field="*{projectId}" type="hidden"/>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="projectName">Project Name</label>
                            <input class="form-control" id="projectName" placeholder="Name" th:field="*{projectName}"
                                   type="text">
                            <!--                            <span class="text-danger" th:errors="*{itemName}"-->
                            <!--                                  th:if="${#fields.hasErrors('itemName')}"></span>-->
                        </div>

                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="intro">Introduction</label>
                            <textarea class="form-control" cols="25" id="intro" rows="5"
                                      th:field="*{intro}"></textarea>
                            <!--                            <span class="text-danger" th:errors="*{description}"-->
                            <!--                                  th:if="${#fields.hasErrors('description')}"></span>-->
                        </div>

                        <div class="form-group col-md-8">
                            <label for="startDateTime">Start Date</label>
                            <div >
                                <input autocomplete="off"  class="form-control" id="startDateTime" th:field="*{startDateTime}"
                                      type="date" />

                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="endDateTime">End Date</label>
                            <div >
                                <input autocomplete="off" class="form-control" id="endDateTime" th:field="*{endDateTime}"
                                       type="date"/>

                            </div>
<!--                            select maximum 5 user to the projects  as  userName and no duplicate -->
                            <div>
                                <label for="user">Select User</label>

                                <select class="form-control" id="user" th:field="${alluser}"  multiple>
                                    <option th:each="user : ${alluser}" th:value="${user.username}" th:text="${user.username}"></option>
                                </select>

                                <div id="selectedUsersContainer"></div>

                                <script th:inline="javascript" th:method="post">
                                    var selectElement = document.getElementById('user');
                                    var selectedUsersContainer = document.getElementById('selectedUsersContainer');
                                    var selectedOptions = [];

                                    selectElement.addEventListener('change', function() {
                                        // Reset selected options array
                                        selectedOptions = [];

                                        // Get all selected options
                                        var options = selectElement.options;
                                        for (var i = 0; i < options.length; i++) {
                                            if (options[i].selected) {
                                                // Add selected option to the array
                                                selectedOptions.push(options[i].value);
                                            }
                                        }

                                        // Limit the number of selected options to 5
                                        if (selectedOptions.length > 5) {
                                            // Deselect the last selected option
                                            options[options.selectedIndex].selected = false;
                                        }

                                        // Display selected usernames
                                        selectedUsersContainer.textContent = selectedOptions.join(', ');
                                        //pass the selected user to the controller

                                    });
                                </script>
                            </div>



<!--                            <div>-->
<!--                                <label for="user">Select User</label>-->
<!--                                <select class="form-control" id="user" th:field="${alluser}">-->
<!--                                    <option th:each="user : ${alluser}" th:value="${user.username}"-->
<!--                                            th:text="${user.username}"></option>-->
<!--                                </select>-->
<!--                            </div>-->





                            <!--                            <span class="text-danger" th:errors="*{targetDate}"-->
                            <!--                                  th:if="${#fields.hasErrors('targetDate')}"></span>-->
                        </div>

                        <div class="form-group col-md-8">
                            <input class="btn btn-primary" type="submit" value="Update">
                            <a class="btn btn-info" href="/projects" role="button">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });

</script>
</body>
</html>